<div class="bootstrap-wrapper">
    <div class="container  mt" style="text-align: center">
        <h1 style="text-align: center" >Welcome to LCI Insurance Company</h1>

        <!-- <a routerLink="/login" mat-raised-button color="accent" >Login Here!</a> -->
    </div>
</div>


 <!-- cards -->
 <div class="container my-4">
    <div class="row mb-2">
        <div class="col-md-6 ">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">96% Claim Success Ratio</strong>
                    <h3 class="mb-0">Claim Settlement</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">The settlement of claims is a very important aspect of service to the policyholders. Hence, the Corporation has laid great emphasis on expeditious settlement of Maturity</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="https://img.freepik.com/free-vector/demand-insurance-service-digital-insurer-mobile-app-innovative-business-model-female-customer-ordering-insurance-policy-online_335657-1156.jpg?w=2000"
                        aria-label="Placeholder: Thumbnail">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Discount</strong>
                    <h3 class="mb-0">Group Schemes</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">Group Insurance covers a group of lives under one contract. It can be employer- employee group or any other homogeneous group formed for purposes other than obtaining insurance.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="https://thumbs.dreamstime.com/b/black-mix-icon-claims-money-insurance-requirement-miscellaneous-logo-157708423.jpg"
                        aria-label="Placeholder: Thumbnail">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-4">
    <div class="row mb-2">
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-danger">24X7</strong>
                    <h3 class="mb-0">Customer Services</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">One of the best supporting customer service provided to customers.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="https://media.istockphoto.com/vectors/vector-flat-insurance-banner-template-illustration-family-person-vector-id1194346462?k=20&m=1194346462&s=612x612&w=0&h=YnBDSEIoCCYFWRniRjn2-VXaYEBR1EPyNdLQmLtfMTE="
                        aria-label="Placeholder: Thumbnail">
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-warning">Journey</strong>
                    <h3 class="mb-0">Mission</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">Explore and enhance the quality of life of people through financial security by providing products and services.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="https://static.vecteezy.com/system/resources/previews/001/991/654/original/policies-flat-design-concept-illustration-icon-insurance-claim-form-insurance-policy-user-agreement-health-insurance-business-rule-abstract-metaphor-can-use-for-landing-page-mobile-app-free-vector.jpg"
                        aria-label="Placeholder: Thumbnail">
                    
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Footer -->
 <div>
    <hr class="container featurette-divider">
    <footer class="d-flex justify-content-around my-4">

      <p>All Rights Reserved | © 2017-2022 Company, Inc. | <span id="currentYear">2022</span></p>

      <div class="text-justify text-center center ml-0 pl-0">
        <a class="mx-1 link text-secondary" href="#">Home</a>
        <a class="mx-5 link text-secondary" href="#">About</a>
        <a class="mr-1 link text-secondary" href="#">Career</a>
      </div>
      <p class="text-align-right"><a href="#">Back to top</a></p>
      
    </footer>
  </div>
