<!-- <div class="bootstrap-wrapper">
  <div class="container mt" style="text-align: center;">
    <mat-card>
      <mat-card-title><a class="full-width" routerLink="/view-bills">View Bills</a> </mat-card-title>
    </mat-card>
    <mat-card>
      <br />

      <mat-card-title><a routerLink="/view-claim">View Claim Status</a></mat-card-title>
    </mat-card>
    <br />
    <mat-card>


      <mat-card-title><a routerLink="/submit-claim">Submit Claim</a></mat-card-title>
    </mat-card>
  </div>
</div> -->

<div class="container mt-5 mb-5 ">
  <div class="row">
    <div class="col-sm-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <img
            src="https://us.123rf.com/450wm/llesia/llesia1606/llesia160600009/57911501-mobile-payment-concept-phone-laying-down-on-bill-heap-flat-design-modern-vector-illustration-concept.jpg?ver=6"
            class="rounded border" height="80%" width="80%" alt=""><br>
          <a routerLink="/view-bills" class="btn btn-primary mt-3">View Bills</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 ">
      <div class="card text-center">
        <div class="card-body">
          <img
            src="https://thumbs.dreamstime.com/b/black-mix-icon-claims-money-insurance-requirement-miscellaneous-logo-157708423.jpg"
            class="rounded border" height="85%" width="80%" alt=""><br>
          <a routerLink="/view-claim" class="btn btn-primary  mt-3">View Claim Status</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <img
            src="https://us.123rf.com/450wm/hvostik/hvostik1901/hvostik190100137/125774111-insurance-claim-form-with-a-check-mark-and-a-signature-vector-illustration-flat-design-isolated-on-w.jpg?ver=6"
            class="rounded border" height="80%" width="80%" alt="">
          <a routerLink="/submit-claim" class="btn btn-primary mt-3">Submit Claim</a>
        </div>
      </div>
    </div>

  </div>
</div>



<!-- <div class="card-group container">
  <div class="card text-center">
    <img src="https://us.123rf.com/450wm/hvostik/hvostik1901/hvostik190100137/125774111-insurance-claim-form-with-a-check-mark-and-a-signature-vector-illustration-flat-design-isolated-on-w.jpg?ver=6" class="card-img-top rounded" alt="...">
    <div class="card-body">
      <h5 class="card-title">To View Bills</h5>
      <a href="#" class="btn btn-primary mt-2">View Bills</a>
    </div>
  </div>
  <div class="card text-center">
    <img src="https://us.123rf.com/450wm/hvostik/hvostik1901/hvostik190100137/125774111-insurance-claim-form-with-a-check-mark-and-a-signature-vector-illustration-flat-design-isolated-on-w.jpg?ver=6" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">To Check Submit Status</h4>
      <a href="#" class="btn btn-primary mt-2">View Claim Status</a>
    </div>
  </div>
  <div class="card text-center">
    <img src="https://us.123rf.com/450wm/hvostik/hvostik1901/hvostik190100137/125774111-insurance-claim-form-with-a-check-mark-and-a-signature-vector-illustration-flat-design-isolated-on-w.jpg?ver=6" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">To Submit Claim</h5>
      <a href="#" class="btn btn-primary mt-2">Submit Claim</a>
    </div>
  </div>
</div> -->